---
import ProjectCard from "../ProjectCard/index.astro";
import img from '../../lib/michelin.webp';

const image = [
  { img: img },
]
---

<ProjectCard colSpan="md:col-span-1" rowSpan="md:row-span-2" img={image[0].img.src} backpos="center" opac="0.7">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-xl font-bold m-0 z-20">Michelin</h2>
      <h2>Machine Vision</h2>
      <a href="https://sive.rs/nowff" target="_blank">
      </a>
    </div>
  </div>
</ProjectCard>
