---
import ProjectCard from "../ProjectCard/index.astro";
import img from '../../lib/sec.jpg';

const image = [
  { img: img },
]
---

<ProjectCard colSpan="md:col-span-1" rowSpan="md:row-span-2" img={image[0].img.src} backpos="center" opac="0.7" skillicon1="../../src/lib/icons/Python-Light.svg" skillicon2="../../src/lib/icons/R-Dark.svg" skillicon3="../../src/lib/icons/SQL.png" skillicon4="" desc='"Produced forensic data analyses used as evidence in the SEC’s lawsuit against a credit ratings firm"'>
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-xl font-bold m-0 z-20">U.S. Securities and Exchange Commission</h2>
      <h2></h2>
      <a href="https://sive.rs/nowff" target="_blank">
      </a>
    </div>
  </div>
</ProjectCard>
