---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import Button from "./Button.astro";
import { Icon } from 'astro-icon/components'
import img from '../../src/lib/atsign.png';

const image = [
  { img: img },
]

---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" img={image[0].img.src}, opac="0.3", 
cubic="transform 5s cubic-bezier(.01,.88,.61,.82)", orig="top right", 
transformation="scale(1.25) translateY(-20%) translateX(20%)", scl="scale(2)", backpos="center">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Contact Me
      </h1>
    </header>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Email</h2>
      <p>noumik@gatech.edu</p>
    </br>
    </div>
     <div class="flex gap-4">
      <a href={LINKS.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Icon name="ri:github-fill" class="h-6" />
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
        <Button aria-label="linkedin profile">
          <Icon name="ri:linkedin-box-fill" class="h-6" />
          <span class="sr-only">Linkedin Profile</span>
        </Button>
      </a>
    </div>
  </div>
</Card>
