---
import ProjectCard from "./ProjectCard/index.astro";
import Pulse from "./Pulse.astro";
import img from '../../src/lib/bbu.png';

const image = [
  { img: img },
]
---

<ProjectCard colSpan="md:col-span-1" rowSpan="md:row-span-2" img={image[0].img.src}, opac="0.7" backpos="center">

  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-xl font-bold m-0 z-20">Current Project</h2>
      <h2>Bimbo Bakeries</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <!--<span class="text-xs text-gray-500 cursor-pointer">what's that ?</span> -->
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs"></p>
</ProjectCard>
