---
import Card from "./Card/index.astro";
import img from '../../src/lib/nyc.jpg';

const image = [
  { img: img },
]

---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1 flex gap-4" title="View My Resume" href="/blog">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        <br />
        I'm based in New York City.
        <br /><br />
        Outside of work, I enjoy playing/watching soccer, playing piano, and keeping up with sports/political analytics.
        <br />
      </p>
  </div>
</Card>
