---
import Card from "./Card/index.astro";
import img from '../../src/lib/nyc.jpg';

const image = [
  { img: img },
]

---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Skills" img={image[0].img.src}, opac="0.3", 
cubic="transform 5s cubic-bezier(.01,.88,.61,.82)", orig="top right", 
transformation="scale(1.25) translateY(-20%) translateX(20%)", scl="scale(2)", backpos="center">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        <br />
        Description
        <br /><br />
        Description
        <br />
      </p>
  </div>
</Card>
